@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow-y: auto;
}

body {
  color: #CCCCCC;
  background: black;
}

canvas {
  display: block;
}

.film-grain-overlay {
  z-index: 10;
}

.main-content {
  z-index: 20;
}

.page-transition {
  transition: opacity 0.5s ease-in-out;
}